/*heading*/
.fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .heading {
    display:flex;
    justify-content: space-between;
    align-items: first baseline;

  }
  .bt{
    color: #006A50;
    background-color:white;
    font-size: 16px;
    border-radius: 30px;
    border-color: #006A50;
    border-width: 2px;
    border-bottom: #006A50;
    padding:8px 4px
  }

  /*nev 1 section*/

  .banner-content{
    display: flex;
    justify-content: space-between;
    background-color: #d4f0e1;
    align-items: center;
    height: 500px;
  }
  .header-bt{
    color: white;
    background-color: #006A50;
    border-radius:8px;
    border:none;
    padding:15px 17px;
    cursor:pointer;
    font-size: 16px;
  }
  .header-text{
    font-size: 40px;
      margin: 0 0 20px;
      color: #000;
      margin-bottom: 24px;
  }
  .header-text1{
    font-size:medium;
    color:gray;
    margin-bottom: 16px;
  }
  /*main First part*/
  .full-body{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    max-width: 1200px;
    background-color:white;
    margin-bottom: 80px;

  }
  .card{
    gap:25px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding:20px;
    box-shadow: 10px;
    min-height: 200px;
    box-shadow: 0px 2px 2px;
    text-align: left;

  }
  .card img{
    width: 50px;
    margin-bottom: 10px;
  }
  .card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card p{

    font-size: 15px;
    color:#0E0E0E:
  }
  /*The vision of Future*/
  .Vison-card{
    display: flex;
    justify-content: space-around;
  }
  .Digital-Transformation{
    flex-wrap: wrap;
    border-radius: 10px;
    background-color:#5490F5 ;
    padding:20px;
    box-shadow: 10px;
    text-align: left;
  }
  .Digital-Transformation img{
    width: 50px;
    margin-bottom: 10px;
  }
  .
.Digital-Transformation h3{
  font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Digital-Transformation p{
  font-size: 15px;
  color:#0E0E0E;
  margin-bottom: 15px;
  }